@model Spoilt.Models.Spoiler;
@{
    ViewData["Title"] = "Create Spoiler";
    Layout = "_Layout";
}

@section Scripts {
    <script>
        console.log("Testing");
    </script>
}

@await Html.PartialAsync("../Shared/_MovieDetails", (Movie)ViewBag.Movie)

<form asp-action="Create">
    <label asp-for="SpoilerText">Write your spoiler here: </label>
    <textarea asp-for="SpoilerText" class="materialize-textarea"></textarea>
    <input type="hidden" asp-for="MovieID" readonly value="@ViewBag.Movie.ID" />

    <input type="submit" value="Create" />
</form>

