@model Spoilt.Models.Spoiler;
@{
    ViewData["Title"] = "Edit Spoiler";
    Layout = "_Layout";
}

@await Html.PartialAsync("../Shared/_MovieDetails", Model.Movie)

<form asp-action="Edit" asp-controller="Spoilers" asp-route-id="@Model.ID">
    <label for="updatedText">Write your spoiler here: </label>
    <textarea class="materialize-textarea" name="updatedText">@Model.SpoilerText</textarea>

    <button value="Update" class="btn waves-effect waves-light" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
    </button>
</form>