@import "materialize";
@import "typography";

.card-image img {
    max-height: 300px;
    object-fit: cover;
}

.card .card-title {
    color: black;
    font-weight: bold;
}

.card {

}
.card .card-content {
    height: 240px;
}

.card .card-content .card-plot {
    height: 60%;
    width: 100%;
    white-space: pre-line;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}


