@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<div id="about-us" class="section about-us">
    <h2 class="header center-align">Meet the Team</h2>
    <p class="caption center-align">We are a team of Apprentices from Apprenti.</p>

    <div class="row">
        <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
                <img src="~/images/kris-about-us.jpg">
            </div>
        </div>
        <div class="col s12 m9">
            <h4>Alvin Wang</h4>
            <p>Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
                <img src="~/images/kris-about-us.jpg">
            </div>
        </div>
        <div class="col s12 m9">
            <h4>
                Alex Stoforandov
            </h4>
            <p>Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
                <img src="~/images/kris-about-us.jpg">
            </div>
        </div>
        <div class="col s12 m9">
            <h4>
                Neth Horn
            </h4>
            <p>Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
                <img src="~/images/kris-about-us.jpg">
            </div>
        </div>
        <div class="col s12 m9">
            <h4>
                Gui Yazbek
            </h4>
            <p>Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.</p>
        </div>
    </div>
</div>

<p class="love center-align">Made with <i class="icon ion-heart"></i> in Seattle</p>
