@* This is a partial that will render a search bar in the Movies/Index view. The Movies/Index view also happens to be the homepage. *@
@{
    ViewData["Title"] = "_SearchBar";
}

<h2>Home Page (Search Bar)</h2>

