@model Spoilt.Models.Spoiler

<div>
    <p class="data-text">@Model.SpoilerText</p>
    <p class="data-text">@Model.CreatedAt</p>
    <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">arrow_upward</i></a>
</div>
