@model Spoilt.Models.Movie;
    @{
        ViewData["Title"] = "Movie Details";
        Layout = "_Layout";
    }

    @await Html.PartialAsync("../Shared/_MovieCard", Model)
    @foreach (Spoiler spoiler in Model.Spoilers)
    {
        @await Html.PartialAsync("../Shared/_Spoiler", spoiler)
    }

    <a asp-controller="Spoilers" asp-action="Create" asp-route-id="@Model.ID"  class="btn">Add spoiler!</a>