@model Spoilt.Models.ViewModels.MovieSpoilers;
@{
    ViewData["Title"] = "Movie Details";
    Layout = "_Layout";
}

@Html.RenderPartialAsync("../Shared/_MovieCard", Model.Movie)
@foreach (Spoiler spoiler in Model.Spoilers)
{
    @Html.RenderPartialAsync("../Shared/_Spoiler", spoiler)
}

<a asp-controller="Spoilers" asp-action="Create" asp-route-id="@Model.Movie.ID"  class="btn">Add spoiler!</a>