@model IEnumerable<Spoilt.Models.Movie>
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@section Scripts {
    <script>
        $(function generateSessionId() {
            return console.log("hi");
        });
    </script>
}

<h1>SPOILT!</h1>
<h2>The site that lets you view and contribute movie spoilers</h2>

<p>Consider this your Spoiler Warning</p>

@{
    await Html.RenderPartialAsync("/Views/Shared/_SearchBar.cshtml");
}


<div class="container">
    <div class="section">
        <div class="row">
            @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("../Shared/_MovieCard.cshtml", item);
            }
        </div>
    </div>
</div>
